@import "~bootstrap/scss/bootstrap.scss";

.todo-wrap{
    border: 1px solid gray;
    input{
        border: none;
        width: 100%;
    }
    li{padding: 10px}
    li:not(:last-of-type){
        border-bottom:  1px solid gray;
    }
}