@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url(https://i.ibb.co/JFKfYsB/High-angle-view-of-businessman-desk-with-organizer-pen-glasses-and-green-plant-Top-view-of-office-su.jpg);
    background-size: cover;
}

.todo-wrap{
    border: 1px solid gray;
    background-color: white;
    input{
        border: none;
        width: 100%;
    }
    li{padding: 10px}
    li:not(:last-of-type){
        border-bottom:  1px solid gray;
    }
    
}
.item-counter{
    display: flex;
    justify-content: space-between;
}